@model IEnumerable<PatrickT_Assignment_1.Models.Equipment>
@{
    ViewData["Title"] = "All Listings";
}

<div class="w-50">
    <h1 class="display-4">Equipment Listings</h1>
    <p>
        This page lists all equipment.
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Availability</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var equipment in Model)
            {
                <tr>
                    <td>@equipment.Id</td>
                    <td>@equipment.Description</td>
                    <td>@(equipment.Available ? "Available" : "Not available")</td>
                </tr>
            }
        </tbody>
    </table>
</div>