@model IEnumerable<PatrickT_Assignment_1.Models.Equipment>﻿
@{
    ViewData["Title"] = "Available Equipment";
}

<div class="w-50">
    <h1 class="display-4">Available Equipment</h1>
    <p>
        This page lists all equipment available to request.
    </p>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Availability</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var equipment in Model.Where(e => e.Available))
            {
                <tr>
                    <td>@equipment.Id</td>
                    <td>@equipment.Description</td>
                    <td>Available</td>
                </tr>
            }
        </tbody>
    </table>
</div>