@model PatrickT_Assignment_1.Models.EquipmentRequest
@{
    ViewData["Title"] = "Confirmation";
}

<h1>Thank you, @Model?.Name!</h1>
<p>The request has been submitted, and IT will be in touch soon!</p>