@model PatrickT_Assignment_1.Models.EquipmentRequest
@{
    ViewData["Title"] = "Request Form";
}

<div>
    <h1 class="display-4">Request Form</h1>
    <p>
        This page allows users to request equipment.
    </p>

    <form asp-action="RequestForm" method="post">
        <div asp-validation-summary="All"></div>
        <div class="mb-2 d-flex">
            <label class="w-25" asp-for="Name">Name:</label>
            <input asp-for="Name"/>
        </div>
        <div class="mb-2 d-flex">
            <label class="w-25" asp-for="Email">Email:</label>
            <input asp-for="Email"/>
        </div>
        <div class="mb-2 d-flex">
            <label class="w-25" asp-for="PhoneNumber">Phone Number:</label>
            <input asp-for="PhoneNumber" />
        </div>
        <div class="mb-2 d-flex">
            <label class="w-25" asp-for="Role">Role:</label>
            <select asp-for="Role" asp-items="Html.GetEnumSelectList<UserRole>()">
            </select>
        </div>
        <div class="mb-2 d-flex">
            <label class="w-25" asp-for="EquipmentType">Equipment Type:</label>
            <select asp-for="EquipmentType" asp-items="Html.GetEnumSelectList<EquipmentOptions>()">
            </select>
        </div>
        <div class="mb-2 d-flex">
            <label class="w-25" asp-for="RequestDetails">Request Details:</label>
            <input asp-for="RequestDetails" />
        </div>
        <div class="mb-2 d-flex">
            <label class="w-25" asp-for="Duration">Duration (days):</label>
            <input asp-for="Duration" />
        </div>
        <button class="btn-primary" type="submit">Submit Request</button>
    </form>
</div>